Repository AtB-AS/design-system, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gorandalum, @rosvik, @marius-at-atb, @mortennordseth, @jonasbrunvoll, @tft-abel, @AtB-AS/design

.github/CODEOWNERS:

# Design system as a whole
* @gorandalum @rosvik @marius-at-atb

# OMS generated theme
/packages/theme/src/generated/ @mortennordseth @jonasbrunvoll

# Troms generated theme
/packages/theme/src/generated/themes/troms-theme/ @tft-abel @mortennordseth @jonasbrunvoll
/packages/theme/src/generated/themes-fs/troms-theme/ @tft-abel @mortennordseth @jonasbrunvoll

# AtB generated theme
/packages/theme/src/generated/themes/atb-theme/ @AtB-AS/design 
/packages/theme/src/generated/themes-fs/atb-theme/ @AtB-AS/design

chore: Auto-assign the person who triggered the workflow
  .github/workflows/design-tokens.yml
Owners: @gorandalum, @rosvik, @marius-at-atb

feat: Generate CSS files from Figma
  packages/theme/tools/fetch-figma-variables.ts
Owners: @gorandalum, @rosvik, @marius-at-atb

feat: Generated useFigmaStructure CSS files
  packages/theme/src/generated/themes-fs/atb-theme/dark.css
  packages/theme/src/generated/themes-fs/atb-theme/light.css
  packages/theme/src/generated/themes-fs/atb-theme/theme.css
  packages/theme/src/generated/themes-fs/farte-theme/dark.css
  packages/theme/src/generated/themes-fs/farte-theme/light.css
  packages/theme/src/generated/themes-fs/farte-theme/theme.css
  packages/theme/src/generated/themes-fs/fram-theme/dark.css
  packages/theme/src/generated/themes-fs/fram-theme/light.css
  packages/theme/src/generated/themes-fs/fram-theme/theme.css
  packages/theme/src/generated/themes-fs/innlandet-theme/dark.css
  packages/theme/src/generated/themes-fs/innlandet-theme/light.css
  packages/theme/src/generated/themes-fs/innlandet-theme/theme.css
  packages/theme/src/generated/themes-fs/nfk-theme/dark.css
  packages/theme/src/generated/themes-fs/nfk-theme/light.css
  packages/theme/src/generated/themes-fs/nfk-theme/theme.css
  packages/theme/src/generated/themes-fs/troms-theme/dark.css
  packages/theme/src/generated/themes-fs/troms-theme/light.css
  packages/theme/src/generated/themes-fs/troms-theme/theme.css
  packages/theme/src/generated/themes-fs/vkt-theme/dark.css
  packages/theme/src/generated/themes-fs/vkt-theme/light.css
  packages/theme/src/generated/themes-fs/vkt-theme/theme.css
Owners: @AtB-AS/design, @mortennordseth, @jonasbrunvoll, @tft-abel

docs: Added info on usage of Figma structure in CSS
  packages/theme/README.md
Owners: @gorandalum, @rosvik, @marius-at-atb

feat: Convert px to rem and filter out color palette
  packages/theme/package.json
  packages/theme/src/generated/themes-fs/atb-theme/dark.css
  packages/theme/src/generated/themes-fs/atb-theme/light.css
  packages/theme/src/generated/themes-fs/farte-theme/dark.css
  packages/theme/src/generated/themes-fs/farte-theme/light.css
  packages/theme/src/generated/themes-fs/fram-theme/dark.css
  packages/theme/src/generated/themes-fs/fram-theme/light.css
  packages/theme/src/generated/themes-fs/innlandet-theme/dark.css
  packages/theme/src/generated/themes-fs/innlandet-theme/light.css
  packages/theme/src/generated/themes-fs/nfk-theme/dark.css
  packages/theme/src/generated/themes-fs/nfk-theme/light.css
  packages/theme/src/generated/themes-fs/troms-theme/dark.css
  packages/theme/src/generated/themes-fs/troms-theme/light.css
  packages/theme/src/generated/themes-fs/vkt-theme/dark.css
  packages/theme/src/generated/themes-fs/vkt-theme/light.css
  packages/theme/tools/fetch-figma-variables.ts
  yarn.lock
Owners: @gorandalum, @rosvik, @marius-at-atb, @AtB-AS/design, @mortennordseth, @jonasbrunvoll, @tft-abel

feat: Added PostCSS plugin for typesafe CSS variables
  packages/token/README.md
  packages/token/index.js
  packages/token/index.test.js
  packages/token/package.json
  yarn.lock
Owners: @gorandalum, @rosvik, @marius-at-atb

Removed excessive syntax tests
  packages/token/index.js
Owners: @gorandalum, @rosvik, @marius-at-atb

docs: Changed line ending
  packages/token/README.md
Owners: @gorandalum, @rosvik, @marius-at-atb

feat: Added correct camelCase conversion and a test for it
  packages/token/index.js
  packages/token/index.test.js
Owners: @gorandalum, @rosvik, @marius-at-atb

feat: Added attribute to manage themes
  packages/theme/src/generated/themes-fs/atb-theme/dark.css
  packages/theme/src/generated/themes-fs/atb-theme/light.css
  packages/theme/src/generated/themes-fs/atb-theme/theme.css
  packages/theme/src/generated/themes-fs/farte-theme/dark.css
  packages/theme/src/generated/themes-fs/farte-theme/light.css
  packages/theme/src/generated/themes-fs/farte-theme/theme.css
  packages/theme/src/generated/themes-fs/fram-theme/dark.css
  packages/theme/src/generated/themes-fs/fram-theme/light.css
  packages/theme/src/generated/themes-fs/fram-theme/theme.css
  packages/theme/src/generated/themes-fs/innlandet-theme/dark.css
  packages/theme/src/generated/themes-fs/innlandet-theme/light.css
  packages/theme/src/generated/themes-fs/innlandet-theme/theme.css
  packages/theme/src/generated/themes-fs/nfk-theme/dark.css
  packages/theme/src/generated/themes-fs/nfk-theme/light.css
  packages/theme/src/generated/themes-fs/nfk-theme/theme.css
  packages/theme/src/generated/themes-fs/troms-theme/dark.css
  packages/theme/src/generated/themes-fs/troms-theme/light.css
  packages/theme/src/generated/themes-fs/troms-theme/theme.css
  packages/theme/src/generated/themes-fs/vkt-theme/dark.css
  packages/theme/src/generated/themes-fs/vkt-theme/light.css
  packages/theme/src/generated/themes-fs/vkt-theme/theme.css
  packages/theme/tools/fetch-figma-variables.ts
Owners: @AtB-AS/design, @mortennordseth, @jonasbrunvoll, @tft-abel, @gorandalum, @rosvik, @marius-at-atb

docs: Updated docs
  packages/theme/README.md
Owners: @gorandalum, @rosvik, @marius-at-atb

feat: Removed :root selector
  packages/theme/src/generated/themes-fs/atb-theme/dark.css
  packages/theme/src/generated/themes-fs/atb-theme/light.css
  packages/theme/src/generated/themes-fs/farte-theme/dark.css
  packages/theme/src/generated/themes-fs/farte-theme/light.css
  packages/theme/src/generated/themes-fs/fram-theme/dark.css
  packages/theme/src/generated/themes-fs/fram-theme/light.css
  packages/theme/src/generated/themes-fs/innlandet-theme/dark.css
  packages/theme/src/generated/themes-fs/innlandet-theme/light.css
  packages/theme/src/generated/themes-fs/nfk-theme/dark.css
  packages/theme/src/generated/themes-fs/nfk-theme/light.css
  packages/theme/src/generated/themes-fs/troms-theme/dark.css
  packages/theme/src/generated/themes-fs/troms-theme/light.css
  packages/theme/src/generated/themes-fs/vkt-theme/dark.css
  packages/theme/src/generated/themes-fs/vkt-theme/light.css
  packages/theme/tools/fetch-figma-variables.ts
Owners: @AtB-AS/design, @mortennordseth, @jonasbrunvoll, @tft-abel, @gorandalum, @rosvik, @marius-at-atb

feat: add new login illustration for Svipper
  packages/assets/files/troms/colors/images/dark/login.svg
  packages/assets/files/troms/colors/images/light/login.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

Correctly generate typography
  packages/theme/package.json
  packages/theme/src/generated/typography.css
  packages/theme/src/generated/typography.module.css
  packages/theme/tools/create-typo.ts
  packages/theme/tools/utils.ts
Owners: @gorandalum, @rosvik, @marius-at-atb, @mortennordseth, @jonasbrunvoll

docs: Fixed typo
  packages/theme/README.md
Owners: @gorandalum, @rosvik, @marius-at-atb

Merged in latest variable changes for VKT
  packages/theme/src/generated/themes/vkt-theme/dark.css
  packages/theme/src/generated/themes/vkt-theme/dark.ts
  packages/theme/src/generated/themes/vkt-theme/light.css
  packages/theme/src/generated/themes/vkt-theme/light.ts
Owners: @mortennordseth, @jonasbrunvoll

Revert "Publish"
  packages/assets/package.json
  packages/theme/package.json
Owners: @gorandalum, @rosvik, @marius-at-atb

fix: Removed xlink attribute
  packages/assets/files/troms/colors/images/dark/login.svg
  packages/assets/files/troms/colors/images/light/login.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

fix: Removed xlink prefixes
  packages/assets/files/troms/colors/images/dark/login.svg
  packages/assets/files/troms/colors/images/light/login.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

fix: empty illustration for vkt
  packages/assets/files/vkt/colors/images/dark/EmptyIllustration.svg
  packages/assets/files/vkt/colors/images/light/EmptyIllustration.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

fix: Removed theme-fs import
  .github/workflows/design-tokens.yml
Owners: @gorandalum, @rosvik, @marius-at-atb

feat: Added rich logos of orgs
  packages/assets/files/atb/mono/logo/rich.svg
  packages/assets/files/farte/mono/logo/rich.svg
  packages/assets/files/fram/mono/logo/rich.svg
  packages/assets/files/innlandet/mono/logo/rich.svg
  packages/assets/files/nfk/mono/logo/rich.svg
  packages/assets/files/troms/mono/logo/rich.svg
  packages/assets/files/vkt/mono/logo/rich.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

feat: Added rich logos for all organizations
  packages/assets/files/atb/mono/logo/rich.svg
  packages/assets/files/farte/mono/logo/rich.svg
  packages/assets/files/fram/mono/logo/rich.svg
  packages/assets/files/innlandet/mono/logo/rich.svg
  packages/assets/files/nfk/mono/logo/rich.svg
  packages/assets/files/troms/mono/logo/rich.svg
  packages/assets/files/vkt/mono/logo/rich.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

fix: use empty svg for empty illustration for farte
  packages/assets/files/farte/colors/images/dark/EmptyIllustration.svg
  packages/assets/files/farte/colors/images/light/EmptyIllustration.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

fix: vkt logos
  packages/assets/files/vkt/colors/favicon.ico
  packages/assets/files/vkt/colors/icons/favicon.svg
  packages/assets/files/vkt/mono/logo/logo.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

fix: farte logos
  packages/assets/files/farte/colors/favicon.ico
  packages/assets/files/farte/colors/icons/favicon.svg
  packages/assets/files/farte/mono/logo/logo.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

feat: Added rich logos for all orgs
  packages/assets/files/atb/colors/logo/RichLogo.svg
  packages/assets/files/farte/colors/logo/RichLogo.svg
  packages/assets/files/fram/colors/logo/RichLogo.svg
  packages/assets/files/innlandet/colors/logo/RichLogo.svg
  packages/assets/files/nfk/colors/logo/RichLogo.svg
  packages/assets/files/troms/colors/logo/RichLogo.svg
  packages/assets/files/vkt/colors/logo/RichLogo.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

refactor: Renamed text identifier to foreground
  packages/assets/files/atb/colors/logo/RichLogo.svg
  packages/assets/files/farte/colors/logo/RichLogo.svg
  packages/assets/files/fram/colors/logo/RichLogo.svg
  packages/assets/files/innlandet/colors/logo/RichLogo.svg
  packages/assets/files/nfk/colors/logo/RichLogo.svg
  packages/assets/files/troms/colors/logo/RichLogo.svg
  packages/assets/files/vkt/colors/logo/RichLogo.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

fix: Added up and down arrows
  packages/assets/files/common/mono/navigation/ArrowDown.svg
  packages/assets/files/common/mono/navigation/ArrowUp.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

feat: Added brand color tokens to Theme type
  packages/theme/src/theme.ts
Owners: @gorandalum, @rosvik, @marius-at-atb

fix: vkt mono logo
  packages/assets/files/vkt/mono/logo/logo.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

revert some unwanted changes
  packages/assets/files/common/colors/icons/ticketing/Seats.svg
  packages/assets/files/common/colors/icons/ticketing/Visa.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

fix resize
  packages/assets/files/common/mono/actions/Confirm.svg
  packages/assets/files/common/mono/actions/Delete.svg
  packages/assets/files/common/mono/actions/Filter.svg
  packages/assets/files/common/mono/actions/Reorder.svg
  packages/assets/files/common/mono/navigation/ExternalLink.svg
  packages/assets/files/common/mono/places/FavoriteFill.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

resize battery & bicycle
  packages/assets/files/common/mono/vehicles/Battery.svg
  packages/assets/files/common/mono/vehicles/Bicycle.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

Fix import/copy issue on NFK & Troms colors
  packages/assets/files/nfk/colors/icons/nfk/dark/Check.svg
  packages/assets/files/nfk/colors/icons/nfk/dark/Error.svg
  packages/assets/files/nfk/colors/icons/nfk/dark/Info.svg
  packages/assets/files/nfk/colors/icons/nfk/dark/Warning.svg
  packages/assets/files/nfk/colors/icons/nfk/light/Check.svg
  packages/assets/files/nfk/colors/icons/nfk/light/Error.svg
  packages/assets/files/nfk/colors/icons/nfk/light/Info.svg
  packages/assets/files/nfk/colors/icons/nfk/light/Warning.svg
  packages/assets/files/nfk/colors/icons/status/dark/Check.svg
  packages/assets/files/nfk/colors/icons/status/dark/Error.svg
  packages/assets/files/nfk/colors/icons/status/dark/Info.svg
  packages/assets/files/nfk/colors/icons/status/dark/Warning.svg
  packages/assets/files/troms/colors/icons/status/dark/Check.svg
  packages/assets/files/troms/colors/icons/status/dark/Error.svg
  packages/assets/files/troms/colors/icons/status/dark/Info.svg
  packages/assets/files/troms/colors/icons/status/dark/Warning.svg
  packages/assets/files/troms/colors/icons/troms/dark/Check.svg
  packages/assets/files/troms/colors/icons/troms/dark/Error.svg
  packages/assets/files/troms/colors/icons/troms/dark/Info.svg
  packages/assets/files/troms/colors/icons/troms/dark/Warning.svg
  packages/assets/files/troms/colors/icons/troms/light/Check.svg
  packages/assets/files/troms/colors/icons/troms/light/Error.svg
  packages/assets/files/troms/colors/icons/troms/light/Info.svg
  packages/assets/files/troms/colors/icons/troms/light/Warning.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

resize
  packages/assets/files/common/mono/actions/Confirm.svg
  packages/assets/files/common/mono/actions/Delete.svg
  packages/assets/files/common/mono/actions/Filter.svg
  packages/assets/files/common/mono/actions/Reorder.svg
  packages/assets/files/common/mono/navigation/ExternalLink.svg
  packages/assets/files/common/mono/places/FavoriteFill.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

resize battery & bicycle
  packages/assets/files/common/mono/vehicles/Battery.svg
  packages/assets/files/common/mono/vehicles/Bicycle.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

add missing resize
  packages/assets/files/common/mono/actions/DragHandle.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

feat: update icons
  packages/assets/files/atb/colors/icons/status/dark/Check.svg
  packages/assets/files/atb/colors/icons/status/dark/Error.svg
  packages/assets/files/atb/colors/icons/status/dark/Info.svg
  packages/assets/files/atb/colors/icons/status/dark/Warning.svg
  packages/assets/files/atb/colors/icons/status/light/Check.svg
  packages/assets/files/atb/colors/icons/status/light/Error.svg
  packages/assets/files/atb/colors/icons/status/light/Info.svg
  packages/assets/files/atb/colors/icons/status/light/Warning.svg
  packages/assets/files/common/colors/icons/ticketing/Visa.svg
  packages/assets/files/common/mono/places/Favorite.svg
  packages/assets/files/common/mono/places/FavoriteDisable.svg
  packages/assets/files/common/mono/places/FavoriteFill.svg
  packages/assets/files/common/mono/places/FavoriteSemi.svg
  packages/assets/files/common/mono/places/StopDestination.svg
  packages/assets/files/common/mono/places/StopOrigin.svg
  packages/assets/files/common/mono/profile/User.svg
  packages/assets/files/common/mono/tab-bar/profile.svg
  packages/assets/files/fram/colors/icons/status/dark/Check.svg
  packages/assets/files/fram/colors/icons/status/dark/Error.svg
  packages/assets/files/fram/colors/icons/status/dark/Info.svg
  packages/assets/files/nfk/colors/icons/nfk/dark/Check.svg
  packages/assets/files/nfk/colors/icons/nfk/dark/Error.svg
  packages/assets/files/nfk/colors/icons/nfk/dark/Info.svg
  packages/assets/files/nfk/colors/icons/nfk/dark/Warning.svg
  packages/assets/files/nfk/colors/icons/nfk/light/Check.svg
  packages/assets/files/nfk/colors/icons/nfk/light/Error.svg
  packages/assets/files/nfk/colors/icons/nfk/light/Info.svg
  packages/assets/files/nfk/colors/icons/nfk/light/Warning.svg
  packages/assets/files/troms/colors/icons/troms/dark/Check.svg
  packages/assets/files/troms/colors/icons/troms/dark/Error.svg
  packages/assets/files/troms/colors/icons/troms/dark/Info.svg
  packages/assets/files/troms/colors/icons/troms/dark/Warning.svg
  packages/assets/files/troms/colors/icons/troms/light/Check.svg
  packages/assets/files/troms/colors/icons/troms/light/Error.svg
  packages/assets/files/troms/colors/icons/troms/light/Info.svg
  packages/assets/files/troms/colors/icons/troms/light/Warning.svg
Owners: @gorandalum, @rosvik, @marius-at-atb

feat: add Amex icon
  packages/assets/files/common/colors/icons/ticketing/Amex.svg
Owners: @gorandalum, @rosvik, @marius-at-atb
